# Gu√≠a 4

In [1]:
from meteostat import Daily, Point
import pandas as pd
from datetime import datetime
from auxiliar_functions import *

In [2]:
# Coordenadas de Punta Arenas
punta_arenas = Point(-53.155877, -70.901687)

In [3]:
# Rango de fechas
start = datetime(2024, 1, 1)
end = datetime(2024, 12, 31)

In [4]:
# Descargar los datos
data = Daily(punta_arenas, start, end)
df = data.fetch()

In [5]:
# Primeras filas
df.head(10)

            tavg  tmin  tmax  prcp  snow  wdir  wspd  wpgt    pres  tsun
time
2024-01-01  14.8   8.0  21.0   0.0  <NA>  <NA>  27.3  <NA>  1008.4  <NA>
2024-01-02  14.1  11.0  17.5   0.1  <NA>  <NA>  35.0  <NA>  1007.3  <NA>
2024-01-03  12.8  10.0  18.0   0.0  <NA>  <NA>  26.6  <NA>  1005.3  <NA>
2024-01-04  11.4   7.9  17.8   0.0  <NA>  <NA>  17.7  <NA>  1000.7  <NA>
2024-01-05   9.8   7.8  13.8   0.0  <NA>  <NA>  25.8  <NA>  1000.4  <NA>
2024-01-06  10.6   5.2  16.0   0.0  <NA>  <NA>  32.2  <NA>  1001.2  <NA>
2024-01-07  10.7   7.9  16.4   0.0  <NA>  <NA>  42.3  <NA>   998.5  <NA>
2024-01-08   9.9   6.0  14.3   0.9  <NA>  <NA>  51.8  <NA>   996.6  <NA>
2024-01-09   6.5   2.8  10.3   0.2  <NA>  <NA>  44.1  <NA>  1003.6  <NA>
2024-01-10   8.7   2.2  14.0   0.0  <NA>  <NA>  39.8  <NA>  1012.6  <NA>

In [6]:
df.shape

(366, 10)

In [9]:
df_count_nulls = generate_df_count_nulls(df=df)
df_count_nulls

      count_nulls  pct_nulls
tavg            0        0.0
tmin            0        0.0
tmax            0        0.0
prcp            7        1.9
snow          361       98.6
wdir          366      100.0
wspd            0        0.0
wpgt          366      100.0
pres            0        0.0
tsun          366      100.0

In [10]:
columns_to_delete = []

for row in df_count_nulls.index:
    if df_count_nulls["pct_nulls"][row] >= 20.0:
        columns_to_delete.append(row)

df = df.drop(columns=columns_to_delete)

df.head(10)

            tavg  tmin  tmax  prcp  wspd    pres
time
2024-01-01  14.8   8.0  21.0   0.0  27.3  1008.4
2024-01-02  14.1  11.0  17.5   0.1  35.0  1007.3
2024-01-03  12.8  10.0  18.0   0.0  26.6  1005.3
2024-01-04  11.4   7.9  17.8   0.0  17.7  1000.7
2024-01-05   9.8   7.8  13.8   0.0  25.8  1000.4
2024-01-06  10.6   5.2  16.0   0.0  32.2  1001.2
2024-01-07  10.7   7.9  16.4   0.0  42.3   998.5
2024-01-08   9.9   6.0  14.3   0.9  51.8   996.6
2024-01-09   6.5   2.8  10.3   0.2  44.1  1003.6
2024-01-10   8.7   2.2  14.0   0.0  39.8  1012.6

In [12]:
new_df_count_nulls = generate_df_count_nulls(df=df)
new_df_count_nulls

      count_nulls  pct_nulls
tavg            0        0.0
tmin            0        0.0
tmax            0        0.0
prcp            7        1.9
wspd            0        0.0
pres            0        0.0